@tailwind base;
@tailwind components;
@tailwind utilities;

.account_oveview::after {
  content: url("https://trybudget.netlify.app/static/media/bg-pattern.2d6e7fc4fd2fc3ff90ce.svg");
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.nav {
  width: calc(100% - 2rem);
  margin: 1rem;
}
.navlink .active {
  color: #ff7461;
}

.sideNav.active,
.sideNav:hover {
  background: hsla(0, 0%, 100%, 0.3);
}
.sideNav.active > *,
.sideNav:hover > * {
  color: white;
}
.mobileNav.active > * {
  color: #ff7461;
}
.expenseBar {
  transition: width 0.5s ease-out;
}
.grided {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 10px;
}
progress {
  border: none;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background: crimson;
}

progress {
  color: lightblue;
}

progress::-moz-progress-bar {
  background: lightblue;
}

progress::-webkit-progress-value {
  background: #ff7461;
  border-radius: 10px;
  transition: width 0.5s ease-out;
}

progress::-webkit-progress-bar {
  background: #ffede9;
  border-radius: 10px;
}
@media screen and (min-width: 650px) {
  .grided {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }
}
@media screen and (min-width: 950px) {
  .grided {
    /* grid-template-columns: repeat(auto-fit, minmax(130px, 1fr)); */
    gap: 10px;
  }
}
@media screen and (min-width: 2000px) {
  .largeScreenCentered {
    margin-left: 0px;
    margin-inline: auto;
  }
}
.bs {
  box-shadow: 0 1px 2px 0 rgb(60 64 67/3%), 0 1px 3px 1px rgb(60 64 67/3%);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
